version: '3.4'

services:
  backend:
    image: csd
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static/:/usr/share/shared/static
    depends_on:
      - csd
      # - frontend

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: ./Dockerfile
  #   ports:
  #     - 4000:80
  #   # volumes:
  #   #   - static-content:/app
  #   env_file:
  #     - .env

# volumes:
#   static-content:
