version: '3.4'

services:
  backend:
    image: backend
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
    command: bash -c "gunicorn config.wsgi --bind 0.0.0.0:8000"
    volumes:
      - ./static_content/static:/app/static:rw
    env_file:
      - .env

  nginx:
    image: nginx:latest
    restart: unless-stopped
    # build:
    #   context: ./nginx
    #   dockerfile: ./Dockerfile
    ports:
      - 80:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static_content/:/usr/share/shared:rw
    depends_on:
      - backend
      # - frontend

  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    ports:
      - 8888:8888
    volumes:
      - ./static_content/dist:/app/dist:rw
    env_file:
      - .env

volumes:
  static_content:
