version: '3.4'

services:
  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static-content:/usr/share/shared
    # depends_on:
    #   - frontend

  csd:
    image: csd
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
    env_file:
      - .env

#   frontend:
#     build:
#       context: ./frontend
#       dockerfile: ./Dockerfile
#     ports:
#       - 4000:80
#     volumes:
#       - static-content:/app
#     env_file:
#       - .env

volumes:
  static-content:
