$baseline: 15px;

:root {
  --base-font-size: #{$baseline};
  --base-gutter: 15px;

  --text-primary: #2c2c2c;

  --primary-color: #ef7f1a;
  --secondary-color: #2c2c2c;
  --primary-light-color: #ffa800;

  --white: #ffffff;
  --silver-chalice: #a9a9a9;
  --dusty-gray: #9a9a9a;

  --animation-duration: 0.3s;
}

@media (max-width: 991.8px) {
  :root {
    --base-font-size: 14px;
  }
}
@media (max-width: 767.8px) {
  :root {
    --base-font-size: 12px;
  }
}
@media (max-width: 575.8px) {
  :root {
    --base-font-size: 12px;
  }
}
